<table style="width:100%" class="center">
<tr>
  <td><a href="https://twitter.com/EswatiniProp"><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/twitter.png" height="32" width="32"></a>

<a href=""><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/soundcloud.png" height="32" width="32"></a>

<a href=""><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/facebook.png" height="32" width="32"></a>

<a href=""><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/Youtube.jpeg" height="32" width="32"></a>

<a href=" "><img src="https://raw.githubusercontent.com/phiwesriva/angular-mn8emkeswatinipro-acbvwb/master/src/assets/insta2.png" height="32" width="32"></a>
</td>
</table>